<div class="add-box">
    <div><p>Title: {{title}}</p></div>
    <div><p>Publisher: {{publisher}}</p></div>
    <div><p>Price: {{price}}</p></div>
    <div><p>Published on: {{date}}</p></div>
    <div><p>Description: {{description}}</p></div>
    <div><img src="{{image}}"></div>
    <input type="button" class="backBtn" value="Back"></input>
</div>
