<div class="add-box" id="{{_id}}">
    <div><p>{{title}}</p></div>
    <div><p>By: {{publisher}} || Price: {{price}}</p></div>
    <div><p> {{date}}</p></div>
    <div><img src="{{image}}"></div>
    {{#if isAuthor}}
        <input type="button" class="add-control details" value="Details"></input>
        <input type="button" class="add-control edit" value="Edit"></input>
        <input type="button" class="add-control delete" value="Delete"> </input>
    {{/if}}
</div>
